TKG_BINDIRECTORY="/shome/hinzmann/Phase2UpgradeStudies/tkgeometry/bin"
TKG_LAYOUTDIRECTORY="/shome/hinzmann/Phase2UpgradeStudies/tkgeometry/www/layouts"
TKG_STANDARDDIRECTORY="/shome/hinzmann/Phase2UpgradeStudies//tkgeometry"
TKG_MOMENTA="1.00, 2.00, 5.00, 20.00"
TKG_TRIGGERMOMENTA="1.00, 2.00, 5.00, 20.00"
TKG_THRESHOLD_PROB="0.01, 0.50, 0.90, 0.95"
